<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page d'accueil</title>
  </head>
  <body>
    <h1>Page d'accueil</h1>
    <p>Express.js + EJS</p>
    <p>Bonjour <%= nom %></p>
    <p>Bonjour <%- nomImportant %></p>
    <h2>Structures de controle</h2>
    <h3>Structures conditionnelles</h3>
    <% if (isConnected) { %>
    <p>Vous êtes connecté</p>
    <%} else {%>
    <p>Vous n'êtes pas connecté</p>
    <% }%>

    <h3>Structures itératives</h3>
    <ul>
      <% for(const elt of nombres) {%>
      <li><%= elt %> est <%= elt % 2 == 0 ? "pair" : "impair" %></li>
      <%}%> <%- include("footer.ejs", {year: 2025}) %>
    </ul>
    <h2>Sesssion</h2>
    <p><%= firstname %></p>
  </body>
</html>
